.directory
translator.xpi
_p1/
_p_test/
/local-filesystem-links.xpi
/.komodotools/
alien-lfl.xpi
alien-local-filesystem-links.xpi
alien-*.xpi
alien-local-filesystem-links-0.63/
~testui/
/.idea/workspace.xml
/.directory
*~
.kateproject.d/notes.txt
