.aliensun-settings input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-top: 16px;
}
.aliensun-settings input[type="radio"] {
    margin-bottom: 6px;
}
.aliensun-settings p {
    margin: 0;
}
.aliensun-settings .title {
    font-size: 20px;
    font-weight: bold;
    padding: 6px;
}
.aliensun-settings .description {
    font-size: 14px;
}
.aliensun-settings .container {
    margin-left: 2%;
    padding-top: 8px;
    margin-bottom: 16px;
}
