.aliensun-link-icon {
    display: inline-block;
}

.aliensun-link-icon i {
    /*padding-left: 2px;*/
    color: orange; /*#F3C300;*/
    font-size: 100% !important;
    text-shadow: 0.1em 0.1em 0.1em rgba(150, 150, 150, 1);
    cursor: pointer;
}

.aliensun-link-icon i:after {
    content: "folder";
    font-size: 100% !important;
}

/*.aliensun-link-icon */
.aliensun-link-icon a:hover > i:after{
    content: "folder_open";
}


.aliensun-link-icon a {
      position: relative;
}

/*.aliensun-link-icon > */
.aliensun-link-icon  a[data-tooltip]:before {
    position: absolute;
    left: 1.5em;
    top: -0.25em;
    color: black;
    background-color: lightgray;
    padding: 0.2em;
    content: attr(data-tooltip);
    white-space: nowrap;
    display: none;
    border-radius: 0.2em;
}

/*.aliensun-link-icon > */
.aliensun-link-icon  a[data-tooltip]:after {
    position: absolute;
    left: 1.25em;
    top: 0.3em;
    border-right: 0.3em solid lightgray;
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
    content: "";
    display: none;
}

.aliensun-link-icon a[data-tooltip]:hover:after,
.aliensun-link-icon a[data-tooltip]:hover:before {
    display: block;
}
