.aliensun-link-icon {
    padding-left: 2px;
    color: #fdd835;
    font-size: 100% !important;
}

.aliensun-link-icon:after {
    content: "folder";
    font-size: 100% !important;
    vertical-align: middle;
}

a:hover > .aliensun-link-icon:after{
    content: "folder_open";
}
